
.carousel-item{
  margin-top: 32px;
}
.carousel-indicators {
  position: relative;
  display: grid !important;
  justify-content: flex-start !important;
   margin-left: 6%;
   width: 12%;
   overflow: visible;
    margin-bottom: -13%!important;
}
  .carousel-indicators .text {
    margin-left: 0px; }

#carouselExampleControls {
  width: 80%;
}

.carousel-indicators li {
  text-indent: 30px;
}

.ol.carousel-indicators li, .text {
  display: inline-block; }

ol.carousel-indicators li {
  float: left;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #AA04F1;
  margin-top: 39px;
}

ol.carousel-indicators li.active {
  background: #AA04F1;
 }

.carousel-inner {
  width: 66% !important;
      margin-left: 32%;
      overflow: inherit;
      margin-top: 33px;
     margin-top: -445px;
    }

.verticalLine {
margin-top: -10px;
  height: 304%;
  width: 80%;
  border-left: 3px solid #AA04F1;
  margin-left: 4px!important;
  top: 15px!important;

}

.Questionare .firstButtons2 ul li .btn {
  border: 2px solid #AA04F1!important;
}
.table th {
  .table td, .table th {

      padding-top: 10px!important;
      padding-left: 55px!important;
}
}
.container {
  display: inline;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid purple;
}

.container input:checked ~ .checkmark {
  background-color: #AA04F1;
}

.checkmark:after {
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 3px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.verticalLine2{
  border-right: 2px solid #AA04F1;
    margin-right: -10px;
line-height: 20;
margin-top: -162px;
}
.verticalLine2_2{
  border-right: 2px solid #AA04F1;
  margin-right: -22px;
  line-height: 20;
  margin-top: -331px;
}
.verticalLine3{
  border-right: 2px solid #AA04F1;
  margin-right: -22px;
  line-height: 20;
    margin-top: -186px;
}
.verticalLine4{
  border-right: 2px solid #AA04F1;
  margin-right: -22px;
  line-height: 20;
    margin-top: -163px;
}
.verticalLine5{
  border-right: 2px solid #AA04F1;
  margin-right: -22px;
  line-height: 20;
  margin-top: -331px;
}

.verticalLine8{
  border-right: 2px solid #AA04F1;
    margin-right: 6px;
    line-height: 10;
    margin-top: -75px;
    margin-bottom: -84px;
}
.verticalLine9{
  border-right: 2px solid #AA04F1;
    margin-right: -5px;
    line-height: 7;
    margin-top: -119px;
    margin-bottom: -84px;
}
.verticalLine10{
  border-right: 2px solid #AA04F1;
  line-height: 0;
  margin-top: -83px;
  margin-bottom: 0px;
}
