
  .gend,.consu, .edu{
    .btn{
    color: black;
    background-color: inherit;
    border: 1px black;
    padding: 5px 5px!important;
    margin-right: 10px;
    margin-left: 9px;
    border-radius: 7%!important;
    background-color: #E8E8E8;
    border: 2px solid #AA04F1!important;
  }
}
.part2 {
  .active{
    background: none;
    h1,h2,h3,h4,h5,h6, p{
      color: black;
    }
  }
  .personal {
    font-weight: bold;
    color: #AA04F1!important; }
 .Sector1 {
    .firstButtons{
      padding: 0px;
      border-radius: 9px;
       ul li{
       display: inline-block!important;
    .fB1{
   margin-right: 24px;
    }
   .fB2{
   margin-right: 150px;
   }
   .fB3{
    margin-left: 15px;
      background-color: #E8E8E8;
      li:hover{
      background-color: #AA04F1;
    }
   }

   .dropdown-menu{
     a:hover{
     background-color: #AA04F1;
     color: white;
   }
padding-top: 0!important;
padding-bottom: 0!important;
border: 4px solid #AA04F1!important;
     a{
     font-weight: 400;
     color:#AA04F1;
     background-color: #E8E8E8;
padding-left: 6px;
     }
     .dropdown-item{
       padding-top: 0px!important;
       padding-bottom: 0px!important;
       background: #E8E8E8;
   }
 }
}
    .btn{
      p{
  font-size: 12px;
  font-weight: 600;
  color:#AA04F1;
      }
      border-radius:9%!important;
      width: auto;
      height:33px;
      margin-top: 31px;
      margin-left: 0px;
      padding-left: 0px;
    }
}
}
.SocioEco {
.SCfirstBtn{
  border-radius: 50%!important;
  background-image: url("..play.bmp");
  height: 50%;
  width: 50%;
}
.info_container{
  background-color:#E8E8E8;
    background: -webkit-linear-gradient(to bottom, #6441A5, #2a0845);
    border: 3px solid transparent;
    border-radius: 7px!important;
    -moz-border-image: -moz-linear-gradient(top, #F53D90 0%, #AA04F1 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #F53D90 0%, #AA04F1 100%);
    border-image: linear-gradient(to bottom, #F53D90 0%, #AA04F1 100%);
    border-image-slice: 1;
    width: 100%;
    height: 47%!important;
}
}
.method_chard{
  .capture_tech,.data_tech{
    display: inline-block!important;
  }
}
.method_chard_2{
.mth1,.mth2,.mth3 {
  display: inline-block;
}
   .video_mc,.vmcp{
    display: inline-block!important;
  }
  .vmcp{
    font-size: 10px;
    margin-top: -50px;

  }
  .video_mc{
    background-color:#E8E8E8;
      background: -webkit-linear-gradient(to bottom, #6441A5, #2a0845);
      border: 2px solid transparent;
      -moz-border-image: -moz-linear-gradient(top, #F53D90 0%, #AA04F1 100%);
      -webkit-border-image: -webkit-linear-gradient(top, #F53D90 0%, #AA04F1 100%);
      border-image: linear-gradient(to bottom, #F53D90 0%, #AA04F1 100%);
      border-image-slice: 1;
      height: 50%;
      width: 60%;
  }

  ul li{
  display: inline-block!important;
  .btn{
    p{
  font-size: 12px;
  font-weight: 600px;
  color:#AA04F1;
    }
    border-radius: 7%!important;
    width: 112px;
    height:39px;
    margin-top: -88px;
    margin-left: -20px;
  }
.fB4{
margin-right: 24px;
}
.fB5{
margin-right: 150px;
}
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.instru_drop1, .instru_drop2, .instru_drop3{
  display: inline-block!important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}}
.Step{
.step_container{
    border: 2px solid purple;
    width: 90%;
    height: 90%!important;
.img-responsive{
  margin-left: 38%;
  margin-top: 10%;
}
}}
.Step2{
.step_container2{
    border: 2px solid purple;
    width: 90%;
    height: 90%!important;
.img-responsive{
  margin-left: 38%;
  margin-top: 10%;
}
}
}
.Good_bye{
  h1,h2,h3,h4,h5,h6, p{
    color: black;
  }
  background-color:inherit!important;
.img-responsive_1,.img-responsive_2{
float: right;
}
}
}
.carousel-control-prev{
margin-top: 503px;
margin-left: 1030px;
}
.carousel-control-next{
  right: 4px;
  margin-top: 503px;
}
.educ, .consus, .gend{
  display: inline-block!important;
}
.Requrements{
.req_drop1,.req_drop2,.req_drop3{
display: inline-block;
.btn{
border-radius: 7px!important;
}
}
}
.INSTRUCTIONS{
  .video_mc,.vmcp{
   display: inline-block!important;
 }
 .vmcp{
   font-size: 10px;
   margin-top: -50px;
 }
  .video_mc{
    background-color:#E8E8E8;
      background: -webkit-linear-gradient(to bottom, #6441A5, #2a0845);
      border: 2px solid transparent;
      -moz-border-image: -moz-linear-gradient(top, #F53D90 0%, #AA04F1 100%);
      -webkit-border-image: -webkit-linear-gradient(top, #F53D90 0%, #AA04F1 100%);
      border-image: linear-gradient(to bottom, #F53D90 0%, #AA04F1 100%);
      border-image-slice: 1;
      height: 50%;
      width: 60%;
  }
}
.Questionare{
.firstButtons2{
  padding: 0px;
  border-radius: 9px;
   ul li{
   display: inline-block!important;
.fB1{
margin-right: 24px;
}
.fB2{
margin-right: 150px;
}
.fB3{
padding-left:-50px;
  background-color: #E8E8E8;
  li:hover{
  background-color: #AA04F1;
}
}

.dropdown-menu{
 a:hover{
 background-color: #AA04F1;
 color: white;
}
padding-top: 0!important;
padding-bottom: 0!important;
border: 4px solid #AA04F1!important;
 a{
 font-weight: 400;
 color:#AA04F1;
 background-color: #E8E8E8;
padding-left: 6px;
 }
 .dropdown-item{
   padding-top: 0px!important;
   padding-bottom: 0px!important;
   background: #E8E8E8;

}}
.btn{
  p{
font-size: 12px;
font-weight: 600;
color:#AA04F1;
  }
  border-radius:9%!important;
  width: 120px;
  height:33px;
  margin-top: 31px;
  margin-left: 0px;
padding-left: 0px;
}
      }
}
}
